/* Fonts */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/raleway-300.woff2) format('woff2');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/raleway-400.woff2) format('woff2');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/raleway-700.woff2) format('woff2');
}
@font-face {
    font-family: 'UnifrakturCook';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/unifraktur-cook-700.woff2) format('woff2');
}

/* Reset and base typography */
* {
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body > astro-island,
astro-island {
    display: block;
    height: 100%;
}

body {
    background-color: #333;
}

body,
button {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
}

a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
p {
    max-width: 60ch;
    position: relative;
    z-index: 0;
}

/* Stylized elements */
em {
    display: inline-block;
    position: relative;
    font-family: 'UnifrakturCook', sans-serif !important;
    font-weight: 700;
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 0.75;
    z-index: -1;

    opacity: 1;
    transform: rotate(-5deg) scale(1.1) translate(0, 5%);

    animation-name: none;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
    animation-fill-mode: both;
    animation-delay: 850ms;
}

em:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #00000016;

    padding: 16px 24px;
    margin: -10px -24px;
    transform: rotate(-3deg) translate(0, 0);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: rotate(-5deg) scale(1) translate(0, -100%);
    }
    to {
        opacity: 1;
        transform: rotate(-5deg) scale(1.1) translate(0, 5%);
    }
}

/* Em should not appear when page has been loaded first time */
.page-appear em {
    opacity: 0;
    animation-name: appear;
}

/* Page transitions */
.transition-group {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1200px;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

    will-change: transform;
}

.page-appear {
    animation-name: rotateIn;
    transform-origin: 50% 100%;
}

.page-appeared,
.load {
    transform-origin: 50% 50%;
}

.page-exit {
    animation-name: rotateOut;
    transform-origin: 50% 0%;
    z-index: 1;
}

@keyframes rotateOut {
    from {
    }
    to {
        opacity: 0.3;
        transform: translateY(100%) rotateX(90deg);
    }
}

@keyframes rotateIn {
    from {
        opacity: 0.3;
        transform: translateY(-100%) rotateX(-90deg);
    }
}

/* Page layout */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px 24px;
    width: 100%;
}

.container {
    margin: auto;
    max-width: 640px;
    width: 100%;
}

.title {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 24px;
    max-width: 720px;
    text-align: center;
    text-wrap: balance;
    letter-spacing: 1.1px;
    margin: 10px auto 40px;
}

.title em {
    color: #eee;
    font-size: 4rem;
    letter-spacing: 0px;
}

.description {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 48px;
    text-align: center;
}

.nav {
    list-style-type: none;
    display: inline-flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.nav li {
    display: inline-block;
    padding: 0.75rem 1rem;
    background-color: #0003;
    border-radius: 5px;
    height: 0%;
    white-space: nowrap;
}
